<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TastyTuna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TastyTuna.Properties.Settings>
            <setting name="UriPassword" serializeAs="String">
                <value>ulan</value>
            </setting>
            <setting name="UriUserName" serializeAs="String">
                <value>superadmin</value>
            </setting>
            <setting name="BranchesUrl" serializeAs="String">
                <value>http://orchestra.emergea.mu:8080/rest/managementinformation/branches</value>
            </setting>
        </TastyTuna.Properties.Settings>
    </applicationSettings>
</configuration>